<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Library</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.library.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CascadeCategoryServlet</servlet-name>
    <servlet-class>com.library.servlet.CascadeCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CascadeRegionServlet</servlet-name>
    <servlet-class>com.library.servlet.CascadeRegionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddbookServlet</servlet-name>
    <servlet-class>com.library.servlet.AddbookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchbookServlet</servlet-name>
    <servlet-class>com.library.servlet.SearchbookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifybookServlet</servlet-name>
    <servlet-class>com.library.servlet.ModifybookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletebookServlet</servlet-name>
    <servlet-class>com.library.servlet.DeletebookServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CascadeCategoryServlet</servlet-name>
    <url-pattern>/servlet/CascadeCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CascadeRegionServlet</servlet-name>
    <url-pattern>/servlet/CascadeRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddbookServlet</servlet-name>
    <url-pattern>/servlet/AddbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchbookServlet</servlet-name>
    <url-pattern>/servlet/SearchbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifybookServlet</servlet-name>
    <url-pattern>/servlet/ModifybookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletebookServlet</servlet-name>
    <url-pattern>/servlet/DeletebookServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>